@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 232, 247);
}

.heading_style{
  padding : 25px 0px;
  text-align: center;
  text-transform : uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  background-color:   #ffffff;
  font-size: 1.5rem;
  height: 5rem;
}

.slotMachine{
  margin-top: 40px;
  text-align: center;
  border: rgb(136, 21, 21) 4px;
  width: 370px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 3px ;
}

.slot_inner {
  text-align: center;
  font-size: small;
  margin: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
hr{
  outline: 1px solid rgb(0, 0, 0);
}
